.form{
    border: 1px solid black;
    margin-top: 60px;
    padding: 20px;
    width: 30%;
    margin-left: 650px;
   
}
.input{
    width: 95%;
  margin-bottom: 10px;
}
h1{
    text-align: center;
}
.body{
    background-color: aqua;
    height: 100vh;
 padding-top: 100px;
}